body{
    background-color: red;
    color: white;
}

@media screen and (orientation: landscape) {
    body{
        padding: 20px;
        margin: 20px;
        border: 10px solid purple;
    }
}

@media only screen and (max-width:450px){
    body{
        background-color: blue;
    }
    .boxkapapa{
        flex-direction: column;
    }
}
.boxkapapa{
    display: flex;
}
.box{
    width: 344px;
    height: 344px;
    background-color: steelblue;
    padding: 10px;
    margin: 10px;
}